<div class="row">
  <% @instructor.instructor_packages.each do |i_package| %>
    <div class="col-xs-12 col-md-6">
      <div class="small-package-card p-3 bg-white">
        <p class="sm-pkg-card-header text-center shadow-sm rounded"><%= i_package.package.title %></p>
        <div class="d-flex justify-content-around p-2">
          <% if i_package.package.rental || i_package.package.photographer %>
          <p>Includes:</p>
          <% end %>
        <% if i_package.package.rental %>
          <%= image_tag "surfboard.png", class:"image-icon" %>
        <% end %>
        <% if i_package.package.photographer %>
          <%= image_tag "camera.png", class:"image-icon" %>
        <% end %>
        </div>
        <p class="text-center text-muted mb-0">Rp <%= i_package.price %></p>
      </div>
    </div>
  <% end %>
</div>
