<div class = "container py-5">
  <div class="row">
    <% @instructors.each do |instructor| %>
      <div class="col-sm">
        <div class="card-body">
          <h3 class="card-title"><%= link_to instructor.user.first_name, instructor_path(instructor)  %></h3>
          <p class="card-text"><%= instructor.description %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
