  <h2>First name: <%= @instructor.user.first_name.capitalize %></h2>
  <p>Last name: <%= @instructor.user.last_name %></p>
    <p><%= @instructor.description %></p>
    <p>Sex: <%= @instructor.gender %></p>
   