<div class="footer d-flex p-3 justify-content-center" style="flex-direction: column; align-items: center;">
  <div class="footer-links justify-content-center">
    <a href="#"><i class="fab fa-github justify-content-center"></i></a>
    <a href="#"><i class="fab fa-instagram justify-content-center"></i></a>
    <a href="#"><i class="fab fa-facebook justify-content-center"></i></a>
    <a href="#"><i class="fab fa-twitter justify-content-center"></i></a>
    <a href="#"><i class="fab fa-linkedin justify-content-center"></i></a>
    <p></p>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart" id = ></i> at Le Wagon
    </div>
</div>
