<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= cl_image_path("https://res.cloudinary.com/apbdevries/image/upload/v1607352244/SHRED/2_u5sbba.jpg", width: 400, height: 300, crop: :fill) %>);">

    <h1>Pages#home</h1>
    <p>Find me in app/views/pages/home.html.erb</p>

</div>