.jade-background {
  background-color: $jade;
}

.instructor-card-div-outer {
  background-color: $jade;
  border-radius: 16px;
  box-shadow: 0px 0px 2px #898989;
  display: flex;
  justify-content: center;
}
.instructor-card-div {
  height: 250px;
  border-radius: 16px;
  border: none;
  color: $gray;
  .row {
    overflow: hidden;
  }
  padding: 0px;
  margin: 0px 8px;
  display: flex;
  justify-content: center;
}

.instructor-image {
  width: 100%;
  object-fit: cover;
  height: 250px;
  margin: auto;
  display: flex; /* remove extra space below image */
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  box-shadow: 0px 0px 2px black;
}

.instructor-image-div {
  height:250px;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
  border-color: transparent;
  background-color: #32E0C4;
}

.card-center-div {
  border-right:1px solid $jade;
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.card-title-div {
  height: 50px;
  border-top-left-radius: 16px;
}

.border-left-radius {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}

.border-radius {
  border-radius: 12px;
}

.border-right-radius {
  border-bottom-right-radius: 16px;
  border-top-right-radius: 16px;
}

.card-text-div-div {
  height: 142px;
}

.card-review-div {
  height: 50px;
  border-bottom-left-radius: 16px;
}

.card-category-div {
  height: 200px;
}

.card-view-div {
  height: 50px;
}

.card-view-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;
}

.helper {
  border:1px solid black;
}