.landing-card {
    background-position: center;
    background-size: cover;
    height: 350px;
    border-radius: 16px;
    border: none;
    box-shadow: 1px 1px 2px #898989;
    color: $gray;
    .row{
      overflow: hidden;
  
    }
    img {
      object-fit: contain;
      width: 80%;
      // object-fit: cover;
    }
    p {
      opacity: 0.7;
    }
  }
  