.navbar-lewagon {
  justify-content: space-between;
  background: $jade;
  position: fixed;
  width: 100%;
  z-index: 2;
  box-shadow: 1px 1px 2px #000000;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

@media only screen and (max-width: 500px) {
  .navbar {
    .brand {
      width: unset;
    }
  }
}

@media only screen and (min-width: 500px) {
  .navbar {
    .nav-item.hidden-md {
      display: none;
    }
  }
}
