.package-card {
  display: flex;
  height: 380px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 16px;
  box-shadow: 2px 2px 4px rgba(0,0,0,.2);
  padding: 8px;
  margin: 16px;
  background-color: #F7F7F7;
  .button{
    padding: 8px 12px;
  }

}
